.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--pr4-gap-s);
  margin: 165px 0px;
}
.education h2 {
  font-size: 2rem;
  border-bottom: 2px solid var(--pr4-color-2);
}
